@mixin default-size {
  padding: space(64, 128) space(20, 40);
}

// use:
// @include auto-grid(300px);
@mixin auto-grid($min-width) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min($min-width, 100%), 1fr));
  grid-auto-rows: max-content;
}

// use:
// @include grid(3);
@mixin grid($column-count) {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  grid-auto-rows: max-content;
}

@mixin hover {
  @media (min-width: #{$vw-desktop}px) and (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
@mixin heroEntrance() {
  animation: entrance 1s forwards 1s;

  @keyframes entrance {
    from {
      clip-path: inset(0 0 0 0 round 0rem);
    }

    to {
      clip-path: inset(calc(space(16, 32)) var(--s-xs) space(16, 32) var(--s-xs) round 3rem);
    }
  }
}

@mixin heroEntranceDesktop() {
  animation: entrance 1s forwards 1s;

  @keyframes entrance {
    from {
      clip-path: inset(0 0 0 0 round 0rem);
    }

    to {
      clip-path: inset(calc(space(16, 32)) var(--s-m) space(16, 32) var(--s-m) round 3rem);
    }
  }
}
