$vw-desktop-t: 1440;
$vw-mobile-t: 375;

@function getScalingFactor($desktopFont, $mobileFont) {
  @return ($desktopFont - $mobileFont) / ($vw-desktop-t - $vw-mobile-t);
}

@mixin neue-machina-base {
  --font-width: 80;
  --font-ctgr: 100;
  --line-height: 1;
  --font-size-fallback: 1rem;

  font-weight: 400;
  font-family: 'NeueMachina', sans-serif;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-fallback);
}

@mixin seol-standard-base {
  --font-width: 80;
  --font-ctgr: 100;
  --line-height: 1;
  --font-size-fallback: 1rem;

  font-weight: 300;
  font-family: 'SaolStandard', sans-serif;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-fallback);
}

@mixin light {
  font-weight: 300;
}

@mixin normal {
  font-weight: 400;
}

@mixin medium-m {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

@mixin extra-bold {
  font-weight: 800;
}

@mixin display-160-machina {
  @include neue-machina-base;
  font-size: 160px;
  line-height: 1;
}

@mixin display-60-machina {
  @include neue-machina-base;
  font-size: 60px;
  line-height: 1;
}

@mixin display-160-seol {
  @include seol-standard-base;
  font-size: 160px;
  line-height: 1;
}

@mixin display-60-seol {
  @include seol-standard-base;
  font-size: 60px;
  line-height: 1;
}

@mixin headline-96-machina {
  @include neue-machina-base;
  font-size: 96px;
  line-height: 1;
}

@mixin headline-64-machina {
  @include neue-machina-base;
  font-size: 64px;
  line-height: 1;
}

@mixin headline-56-machina {
  @include neue-machina-base;
  font-size: 56px;
  line-height: 1;
}

@mixin headline-48-machina {
  @include neue-machina-base;
  font-size: 48px;
  line-height: 1;
}

@mixin headline-40-machina {
  @include neue-machina-base;
  font-size: 40px;
  line-height: 1;
}

@mixin headline-32-machina {
  @include neue-machina-base;
  font-size: 32px;
  line-height: 1;
}

@mixin headline-96-seol {
  @include seol-standard-base;
  font-size: 96px;
  line-height: 1;
}

@mixin headline-64-seol {
  @include seol-standard-base;
  font-size: 64px;
  line-height: 1;
}

@mixin headline-56-seol {
  @include seol-standard-base;
  font-size: 56px;
  line-height: 1;
}

@mixin headline-48-seol {
  @include seol-standard-base;
  font-size: 48px;
  line-height: 1;
}

@mixin headline-40-seol {
  @include seol-standard-base;
  font-size: 40px;
  line-height: 1;
}

@mixin headline-32-seol {
  @include seol-standard-base;
  font-size: 32px;
  line-height: 1;
}

@mixin headline-24-seol {
  @include seol-standard-base;
  font-size: 24px;
}

@mixin body-16-machina {
  @include neue-machina-base;
  font-size: 16px;
  line-height: 1.5;
}

@mixin body-12-machina {
  @include neue-machina-base;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
