.hero-home {
  height: 100%;
  min-height: 100vh;

  .wrapper-bg {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;

    @include heroEntrance;

    @include medium {
      @include heroEntranceDesktop;
    }

    .video-wrapper {
      position: absolute;
      inset: 0;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .layer-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
    }

    // .image-wrapper {
    //   position: absolute;
    //   inset: 0;

    //   img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     object-position: center;
    //   }
    // }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    text-emphasis: none;
    color: white;
    max-width: toRem(550);
    text-align: right;

    .title {
      @include display-60-machina;

      @include medium {
        @include display-160-machina;
      }
    }

    .textWrapper {
      overflow: hidden;

      &.third {
        padding-inline-end: space(8, 16);
      }

      &.second {
        padding-inline-end: space(64, 96);
      }

      &.first {
        padding-inline-end: space(16, 32);
      }

      &.first,
      &.third {
        @include display-60-seol;
        text-transform: uppercase;

        @include medium {
          @include display-160-seol;
        }
      }
    }
  }

  .button {
    margin-top: space(32, 48);
    padding-bottom: space(16, 32);
  }
}
